[Desktop Entry]
Categories=Utility;
Comment=Driver configuration for VINSA graphics tablet
Exec=v1060p-driver --config
GenericName=
Icon=/home/*user*/Driver_tablet/vinsa1060.png
MimeType=
Name=Settings for Tablet VINSA 1060 Plus
Path=
StartupNotify=false
Terminal=false
TerminalOptions=
Type=Application
Version=1.0
X-KDE-SubstituteUID=false
X-KDE-Username=
